
{% load static %}

<li>
    <article class="write">
        <a href="{%url 'posts'%}">
            <img src="{% static 'blog/images/hike.jpg'%}" id="hike">
            <h3>This is a mountai hiking and a picture is supposed to be here </h3>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus maxime laborum consectetur impedit optio a! Excepturi voluptatum, doloremque, ab reprehenderit dolores distinctio quisquam, perspiciatis blanditiis sit similique quia commodi?
        </p>
    </article>
</li>