{% extends "base.html" %}
{% load static%}

{% block title %}
    Blog bitch
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{%static 'blog/index.css'%}">
<link rel="stylesheet" href="{%static 'blog/posts.css'}">
{%endblock%}

{%block content%}
<h1><a href="{%url 'index'%}" id="me">Utsav's Blog</a></h1>
    

<section>
 <nav>
 <header class="face">
     <img src="{%static 'blog/images/face2.jpg'%}" id="yujji" alt="Your device is not strong enough to handle Yujiro hanma's face">
     <h2>I wish this was my face man.</h2>
 </header>
 <p>I am utsav and i like to hike.</p></nav>


   <section>
    <h2>My latest Thoughts</h2>

    <ul>
        {% include "blog/includes/posts.html"%}
    </ul>
   </section>



{%endblock%}